extends ../../_base

block head
  - var root_path = '../../'
  include ../../_head

block content
  - var root_path = '../../'
  #header
    #header-brand
      a(href='http://cepave.com/') Cepave
  #main
    #hero
      h1 Modals
      p#hero-lead
        |很多原因和目的我们会使用模態视窗。 OWL UI lite 設計和操作 Modal 视窗的方式非常簡單。我们只需要設置一個
        code div
        |來表示 Modal 口的內容
      nav#hero-subnav
        ul
          li: a(href=root_path) Download
          li: a(href=root_path+'/docs/') Documentation

    .row
      .col.col-3
        nav.nav-contents
          ul
            li: a(href='index.html#h-calling') Calling
            li: a(href='index.html#h-action') Action
      .col.col-9
        #owl-ui-lite-component

          // Calling
          h3#h-calling.demo-head Calling
          p
           | 添加內容於
           var .modal
           | 之中。設置下面的“打開”按鈕，呼叫該 modal，我們使用 id
           var #my-modal
           |  來呼叫。
           | 如此我們可以用按鈕或超連結來在開 modal view。點擊 modal 以外的任何位置，或
           kbd ESC
           | 將關閉視窗。
          p
            button(class='button primary', data-component='modal', data-width='760px', data-target='#ui-modal') 打開
          #ui-modal.modal-box.hide
            .modal
              span.close
              .modal-header Modal Header
              .modal-body
                p 恰恰与流行观念相反，Lorem Ipsum并不是简简单单的随机文本。它追溯于一篇公元前45年的经典拉丁著作，从而使它有着两千多年的岁数。弗吉尼亚州Hampden-Sydney大学拉丁系教授Richard McClintock曾在Lorem Ipsum段落中注意到一个涵义十分隐晦的拉丁词语，“consectetur”，通过这个单词详细查阅跟其有关的经典文学著作原文，McClintock教授发掘了这个不容置疑的出处。Lorem Ipsum始于西塞罗(Cicero)在公元前45年作的“de Finibus Bonorum et Malorum”（善恶之尽）里1.10.32 和1.10.33章节。这本书是一本关于道德理论的论述，曾在文艺复兴时期非常流行。Lorem Ipsum的第一行”Lorem ipsum dolor sit amet..”节选于1.10.32章节。
                p 以下展示了自1500世纪以来使用的标准Lorem Ipsum段落，西塞罗笔下“de Finibus Bonorum et Malorum”章节1.10.32 ， 1.10.33的原著作，以及其1914年译自H. Rackham的英文版本。
              .modal-footer
                .float-right
                  .button.outline.primary(data-action="modal-close") 取消
                  .button.primary 送出
          .window
            .icons: span
            .title modals--calling.pug
            pre.language-jade
              code.
                // Call
                button(data-component='modal', data-target='#ui-modal') Open

                // Markup
                #ui-modal.modal-box.hide
                    .modal
                      span.close
                      .modal-header Modal Header
                      .modal-body ...

          // Action
          h3#h-action.demo-head Action
          p
            | 我們會需要關閉 modal view ，可以使用一個鏈接或按鈕，並設置 attr 屬性
            code data-action
            | 值為
            var modal-close
          .window
            .icons: span
            .title modals--calling.pug
            pre.language-jade
              code.
                #ui-modal.modal-box.hide
                  .modal
                      span.close
                      .modal-header Modal Header
                      .modal-body
                        | ...
                        a(href='#', data-action='modal-close') Close
          // Settings
          h3#h-settings.demo-head Settings
          h5 target
          ul
            li
              | Type:
              var string
            li
              | Default:
              var null
          p 定義 modal view 內容
          h5 header
          ul
            li
              | Type:
              var string
            li
              | Default:
              var false
          p
            | 為 modal view 設置標題。預設是
            var false
          h5 width
          ul
            li
              | Type:
              var string
            li
              | Default:
              var '600px'
          h5 height
          ul
            li
              | Type:
              var string
            li
              | Default:
              var false
          h5 maxHeight
          ul
            li
              | Type:
              var string
            li
              | Default:
              var false
          p
            | 設置
            var maxHeight
            | 定義 modal view 的最大高度。啟用的情況下，超出的內容會於 modal 中滾動，禁用視窗的 scrollbar
          h5 position
          ul
            li
              | Type:
              var string
            li
              | Default:
              var 'center'
          p 決定 modal view 打開時的位置
          h5 overlay
          ul
            li
              | Type:
              var boolean
            li
              | Default:
              var true
          p
            | 當設置為
            var false
            | 時，modal 沒有疊加效果。預設情況下 modal 下具有一個半透明層覆蓋頁面。
          h5 animation
          ul
            li
              | Type:
              var boolean
            li
              | Default:
              var true
          p 設置 modal 打開和關閉是否啟用動畫及方式

  include ../../_footer

block script
  - var root_path = '../../'
  include ../../_script
