extends ../../_base

block head
  - var root_path = '../../'
  include ../../_head

block content
  - var root_path = '../../'
  #header
    #header-brand
      a(href='http://cepave.com/') Cepave
  #main
    #hero
      h1 Typography
      p#hero-lead
        |Typography 是網頁上的最重要的基礎之一。即使是輕微的缺陷，也足以摧毀美麗的頁面。OWL UI lite 提供完美的排版與理想的間距、字級大小和比例關係，無論搭配什麼風格、選擇任何字體都可以適配頁面。
      nav#hero-subnav
        ul
          li: a(href=root_path) Download
          li: a(href=root_path+'docs/index.html') Documentation

    .row
      .col.col-3
        nav.nav-contents
          ul
            li: a(href='index.html#h-headings') Headings
            li: a(href='index.html#h-subheadings') Subheadings
            li: a(href='index.html#h-paragraph') Paragraph
            li: a(href='index.html#h-inline') Inline Elements
            li: a(href='index.html#h-lists') Lists
      .col.col-9
        #owl-ui-lite-component

          // Headings
          h3#h-headings.demo-head Headings
          .example
            h1 Heading 1
            h2 Heading 2
            h3 Heading 3
            h4 Heading 4
            h5 Heading 5
            h6 Heading 6
          br
          p
            |標題（Heading）是通過&nbsp;
            code &lt;h1&gt;
            |&nbsp;-&nbsp;
            code &lt;h6&gt;
            |&nbsp;等標籤進行定義的。&nbsp;
            code &lt;h1&gt;
            |&nbsp;定義最大的標題。&lt;h6&gt; 定義最小的標題。
          p
            | OWL UI lite 使用&nbsp;
            code &lt;h1&gt;
            |&nbsp;-&nbsp;
            code &lt;h6&gt;
            |&nbsp;標籤(tag)或&nbsp;
            code &lt;h1&gt;
            |&nbsp;-&nbsp;
            code &lt;h6&gt;
            |&nbsp;樣式名(class name)來定義你的標題

          // Subheadings
          h3#h-subheadings.demo-head Subheadings
          p
            |副標題正是為了讓標題得到良好的呈現。
          p
            |要使用副標題，需添加&nbsp;
            code .subheading
            |&nbsp;樣式到一個 heading tag
            code &lt;h1&gt;
            |&nbsp;-&nbsp;
            code &lt;h6&gt;
            |. 下面的範例中, 這個&nbsp;
            code &lt;h3&gt;
            |&nbsp;最好搭配像&nbsp;
            code .muted
            |&nbsp;的樣式名，讓文字顏色跟字體更細或淡.
          .example
            h1 Lorem Ipsum，也称乱数假文或者哑元文本
            h3.subheading.muted Lorem ipsum 我们为何用它？
            p Lorem Ipsum，也称乱数假文或者哑元文本， 是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，Lorem Ipsum从西元15世纪起就被作为此领域的标准文本使用。它不仅延续了五个世纪，还通过了电子排版的挑战，其雏形却依然保存至今。在1960年代，”Leatraset”公司发布了印刷着Lorem Ipsum段落的纸张，从而广泛普及了它的使用。最近，计算机桌面出版软件”Aldus PageMaker”也通过同样的方式使Lorem Ipsum落入大众的视野。
          .window
            .icons: span
            .title subheading.pug
            pre.language-jade
              code.
                h1 ...
                h3(class="subheading muted") ...

          // Paragraph
          h3#h-paragraph.demo-head Paragraph
          p
            |除了特殊規範外, 所有的段落文字使用&nbsp;
            code 13px
            |&nbsp;字體級&nbsp;與
            code 18px
            |&nbsp;行高
          .example
            p
              |Lorem ipsum
              code dolor
              |sit amet,&nbsp;
              a(href='') 它起源于哪里？
              |&nbsp;恰恰与流行观念相反，Lorem Ipsum并不是简简单单的随机文本。它追溯于一篇公元前45年的经典拉丁著作，从而使它有着两千多年的岁数。弗吉尼亚州Hampden-Sydney大学拉丁系教授Richard McClintock曾在Lorem Ipsum段落中注意到一个涵义十分隐晦的拉丁词语，“consectetur”，通过这个单词详细查阅跟其有关的经典文学著作原文，McClintock教授发掘了这个不容置疑的出处。Lorem Ipsum始于西塞罗(Cicero)在公元前45年作的“de Finibus Bonorum et Malorum”（善恶之尽）里1.10.32 和1.10.33章节。这本书是一本关于道德理论的论述，曾在文艺复兴时期非常流行。Lorem Ipsum的第一行”Lorem ipsum dolor sit amet..”节选于1.10.32章节。
            p
              | Lorem ipsum dolor sit amet,&nbsp;
              var 恰恰与流行观念相反，
              |&nbsp;Lorem Ipsum并不是简简单单的随机文本。它追溯于一篇公元前45年的经典拉丁著作，从而使它有着两千多年的岁数。弗吉尼亚州Hampden-Sydney大学拉丁系教授Richard McClintock曾在Lorem Ipsum段落中注意到一个涵义十分隐晦的拉丁词语，“consectetur”，通过这个单词详细查阅跟其有关的经典文学著作原文，McClintock教授发掘了这个不容置疑的出处。Lorem Ipsum始于西塞罗(Cicero)在公元前45年作的“de Finibus Bonorum et Malorum”（善恶之尽）里1.10.32 和1.10.33章节。这本书是一本关于道德理论的论述，曾在文艺复兴时期非常流行。Lorem Ipsum的第一行”Lorem ipsum dolor sit amet..”节选于1.10.32章节。
          .window
            .icons: span
            .title p.pug
            pre.language-jade
              code.
                p ...

          // Inline Elements
          h3#h-inline.demo-head Inline Elements
          p OWL UI lite 具有各種'行內'格式化元素。他們都有自己的語義，自己的風格。
          table.table-bordered
            tr
              td.nowrap
                abbr(title='Cascading Style Sheets') CSS
              td.col-6
                code &lt;attr&gt;
              td.nowrap
                cite Cite
              td.col-6
                code &lt;city&gt;
            tr
              td.nowrap
                code &lt;Code&gt;
              td
                code &lt;code&gt;
              td.nowrap
                samp Sample
              td
                code &lt;samp&gt;
            tr
              td.nowrap
                var Variable
              td
                code &lt;var&gt;
              td.nowrap
                mark Mark
              td
                code &lt;mark&gt;
            tr
              td.nowrap
                kbd Shortcut
              td
                code &lt;kbd&gt;
              td.nowrap
                del Deleted
              td
                code &lt;del&gt;
            tr
              td.nowrap
                i Italic
              td
                code &lt;i&gt;
              td.nowrap
                em Emphasis
              td
                code &lt;em&gt;
            tr
              td.nowrap
                strong Highlighted
              td
                code &lt;strong&gt;
              td.nowrap
                b Bold
              td
                code &lt;b&gt;
            tr
              td.nowrap
                | x
                sup superscript
              td
                code &lt;sup&gt;
              td.nowrap
                | x
                sub subscript
              td
                code &lt;sub&gt;
            tr
              td.nowrap
                small Small
              td
                code &lt;small&gt;
              td.nowrap
                ins Inserted
              td
                code &lt;ins&gt;

          // Lists
          h3#h-lists.demo-head Lists
          p
            |我們為列表提供許多的層級，雖然很可能永遠都用不到，但 OWL UI lite 仍然保留了這個彈性。
            |無論項目或計數清單至少可支援至三個級別。
          .row
            .col.col-6
              ul
                li list item 1
                li
                  | list item 2
                  ul
                    li list item 2.1
                    li
                      | list item 2.2
                      ul
                        li list item 2.2.1
                        li list item 2.2.2
                    li list item 2.3
                    li list item 2.4
                li list item 3
                li list item 4

              .window
                .icons: span
                .title ul li.pug
                pre.language-jade
                  code.
                    ul
                      li ...
            .col.col-6
              ol
                li list item 1
                li
                  | list item 2
                  ol
                    li list item 2.1
                    li
                      | list item 2.2
                      ol
                        li list item 2.2.1
                        li list item 2.2.2
                    li list item 2.3
                    li list item 2.4
                li list item 3
                li list item 4

              .window
                .icons: span
                .title ol li.pug
                pre.language-jade
                  code.
                    ol
                      li ...

          h3.demo-head Definition List
          p 有時候，我們可能需要一個自定義列表。千萬千萬不要忘記使用自定義列表，因為我們愛語義的東西，也務必遵守。自定義列表不僅僅是一列項目，而是項目及其註釋的組合
          dl
            dt Term 1
            dd Description 1
            dt Term 2
            dd Description 2
            dt Term 3
            dd Description 3
          .window
            .icons: span
            .title dl dt dd.pug
            pre.language-jade
              code.
                dl
                  dt Term
                  dd Description

  include ../../_footer

block script
  - var root_path = '../../'
  include ../../_script
