// colorful
@mixin button($text-color, $back-color) {

  background: $back-color;
  color: $text-color;

  &:focus,
  &:hover {
    color: rgba($text-color, .6);
    &:disabled,
    &.disabled {
      color: $text-color;
      background: $back-color;
    }
  }
  &.outline:hover {
    color: rgba($back-color,.6);
    border-color: rgba($back-color,.4);
  }
  &.outline,
  &.outline:disabled:hover,
  &.outline.disabled:hover {
    color: $text-color;
    border-color: $text-color;
    background: none;
  }
}


@mixin button-fill($text-color, $back-color) {

  color: $text-color;
  background-color: $back-color;
}

@mixin button-outline($text-color, $back-color) {

  color: $back-color;
  border-color: $back-color;
  background-color: transparent;
}
