// colorful
@mixin button($text-color, $back-color) {

  background: $back-color;
  color: $text-color;

  &:focus,
  &:hover {
    &:disabled,
    &.disabled {
      color: $text-color;
      background: $back-color;
    }
  }
  &.outline:hover {
  }
  &.outline,
  &.outline:disabled:hover,
  &.outline.disabled:hover {
    color: $text-color;
    border-color: $text-color;
    background: none;
  }
}


@mixin button-fill($text-color, $back-color) {

  color: $text-color;
  background-color: $back-color;
}

@mixin button-outline($text-color, $back-color) {

  color: $text-color;
  border-width: 1px;
  border-style: solid;
  border-color: $back-color;
  background-color: transparent;
}

@mixin button-reset {
  color: inherit;
  background-color: inherit;
  border: inherit;
}
