@mixin input-placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
@mixin reset-list-style {
  list-style: none;
}
@mixin form-base {
  font-family: $font-family;
  font-size: $font-size-body;
  line-height: $font-size-md;
  color: inherit;
  @include input-placeholder {
    color: $input-place-hold-color;
  }
}
@mixin input-base {
  padding: $input-padding;
  vertical-align: middle;
  -webkit-appearance: none;
  background: $input-background-color;
  border: $input-border-size solid $input-border-color;
  border-radius: $form-border-radius;
}
@mixin form-block-el {
  display: block;
  width: 100%;
  padding: $input-padding;
  border-radius: $form-border-radius;
  background: $input-background-color;
  border: $input-border-size solid $input-border-color;
}
