@mixin typo-mega {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}
@mixin typo-jumbo {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}
@mixin typo-display {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}
@mixin typo-headline {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
}
@mixin typo-subheder {
  font-size: $font-size-h5;
  line-height: $line-height-h5;
}
@mixin typo-title {
  font-size: $font-size-h6;
  line-height: $line-height-h6;
}
@mixin typo-body {
  font-size: $font-size-body;
  line-height: $line-height-body;
}
@mixin typo-cation {
  font-size: $font-size-cation;
  line-height: $line-height-cation;
}
@mixin typo-small {
  font-size: $font-size-small;
  line-height: $line-height-small;
}
