@mixin typo-mega {
  font-size: $ui-font-size-mega;
  line-height: $ui-line-height-mega;
}
@mixin typo-jumbo {
  font-size: $ui-font-size-jumbo;
  line-height: $ui-line-height-jumbo;
}
@mixin typo-display {
  font-size: $ui-font-size-display;
  line-height: $ui-line-height-display;
}
@mixin typo-xxl {
  font-size: $ui-font-size-xxl;
  line-height: $ui-line-height-xxl;
}
@mixin typo-xl {
  font-size: $ui-font-size-xl;
  line-height: $ui-line-height-xl;
}
@mixin typo-lg {
  font-size: $ui-font-size-lg;
  line-height: $ui-line-height-lg;
}
@mixin typo-md {
  font-size: $ui-font-size-md;
  line-height: $ui-line-height-md;
}
@mixin typo-sm {
  font-size: $ui-font-size-sm;
  line-height: $ui-line-height-sm;
}
@mixin typo-xs {
  font-size: $ui-font-size-xs;
  line-height: $ui-line-height-xs;
}
