@mixin boder-thick($position, $size, $color) {
  $default: 100%;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background-color: $color;
    @if $position == top {
      top: 0;
      left: 0;
      width: $default;
      height: $size;
    }
    @if $position == bottom {
      bottom: 0;
      left: 0;
      width: $default;
      height: $size;
    }
    @if $position == left {
      left: 0;
      top: 0;
      width: $size;
      height: $default;
    }
    @if $position == right {
      right: 0;
      top: 0;
      width: $size;
      height: $default;
    }
  }
}
