@import "compass";
@import "_scss/variables";
@import "_scss/theming";
@import "_scss/mixins";
// @import "_scss/animation";


body, h1, h2, h3, h4, h5, h6, .button {
  font-family: 'Lato', Arial, sans-serif;
}

.button.call-to-action {
  background: #8962D9;
  color: #fff;
  height: 48px;
  line-height: 40px;
  padding: 0 40px;
  font-size: 16px;
  &:focus, &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    &:disabled, &.disabled {
      color: #fff;
      background: #1fce6d;
    }
  }
  &:hover {
    &:disabled, &.disabled {
      color: #fff;
      background: #1fce6d;
    }
  }
  &.outline {
    &:hover {
      color: rgba(31, 206, 109, 0.6);
      border-color: rgba(31, 206, 109, 0.4);
    }
    color: #1fce6d;
    border-color: #1fce6d;
    background: none;
    &:disabled:hover,
    &.disabled:hover {
      color: #1fce6d;
      border-color: #1fce6d;
      background: none;
    }
  }
}

#header {
  @include display-flex;
  @include align-items(center);
  padding: 20px 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    @include background-image(linear-gradient(to right, #FFDA00, #FF4E39, #FF2E9C, #FF44FF, #00BFFF, #00EDFF, #FF74FF));
  }
  &-brand {
    width: 25%;
    a {
      position: relative;
      font-size: 0;
      display: block;
      width: 132px;
      height: 30px;
      background-repeat: no-repeat;
      background-image: url("../img/logo.png");
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../img/logo@2x.png");
        background-size: 132px 30px;
      }
    }
  }
}

#main {
  margin: auto;
  max-width: 1128px;
}
#hero {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  p {
    font-size: 18px;
    line-height: 28px;
    max-width: 720px;
    margin: auto;
    color: rgba(0, 0, 0, 0.5);
  }
  &-subnav {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    li {
      margin: 0 12px;
      font-size: 20px;
      display: inline-block;
      a, span {
        display: inline-block;
        padding: 4px 12px;
      }
      a {
        color: #3794de;
        &:hover {
          color: #000;
          text-decoration: underline;
        }
      }
      span {
        color: rgba(0, 0, 0, 0.45);
      }
    }
  }
  figure {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
#owl-ui-lite {
  &-brand {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 422px;
    height: 64px;
    padding-right: 1em;
    background-repeat: no-repeat;
    background-image: url("../img/owl-ui-lite-logo.png");
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../img/owl-ui-lite-logo@2x.png");
      background-size: 422px 64px;
    }
  }
  &-download-box {
    a {
      margin: 0 8px;
    }
    .button {
      height: 48px;
      line-height: 40px;
      padding: 4px 40px;
      font-size: 16px;
    }
  }
  &-components {
    padding: 32px;
    background: #f8f8f9;
    a {
      border: 1px solid rgba($color-primary,0);
      text-decoration: blink;
      &:hover {
        @include transition(all linear .3s);
        border-color: rgba($color-primary,1);
      }
    }
    .item {
      padding: 16px;
      margin-bottom: 40px;
      background: #fff;
      color: #000;
      display: block;
      width: 100%;
      h4 {
        margin-bottom: 8px;
      }
      p {
        font-size: 13px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

#footer {
  @include display-flex;
  border-top: 1px solid #eee;
  padding: 0 32px;
  padding-top: 24px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

//-
// page/docs
.demo-head {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-top: 80px;
  margin-bottom: 20px;
  color: $color-gray-darker;
  text-align: center;
}

.content {
  max-width: 820px;
  margin: auto;
}
//- demo
.example {
  padding: 24px 28px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.palettes-item {
  width: 100%;
  padding-bottom: 100%;
}

.grid-demo {
  .row-back {
    background: #ecf6f8;
  }
  .row {
    margin-bottom: 24px;
  }
  .item {
    background: #e1eef0;
    font-size: 11px;
    padding: 8px 10px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
  }
  .item-dark {
    background: #cee0e2;
  }
  .demo-nested .col {
    background: #fff;
  }
  .row-layout {
    margin-bottom: 24px;
  }
}

#fixed-sidebar {
  @include flex-fixed-width(200px);
}

#fixed-sidebar-right {
  @include flex-fixed-width(300px);
}

#aligner {
  @include flex;
  @include flex-middle;
  @include flex-center;

  min-height: 500px;
  margin: 24px 0;
  border: 1px solid #eee;
  div {
    max-width: 50%;
    background: #eee;
    padding: 24px;
  }
}

// Label
.demo-label .label {
  margin-right: 8px;
}
.demo-label-inverted {
  background: #222;
  padding: 4px 8px;
  padding-left: 16px;
  border-radius: 4px;
  display: inline-block;
}
.label.custom {
  background: $color-primary;
  color: #fff;
  a {
    color: #fff;
  }
  &.outline {
    border-color: $color-primary;
    color: $color-primary;
    a {
      color: $color-primary;
    }
  }
  &.tag {
    background: none;
    color: $color-primary;
    a {
      color: $color-primary;
    }
  }
}

// Breadcrumb
#breadcrumb-custom-separator li:after {
  content: '>';
}

// Tabs
#tab-header, #tab-base {
  margin-bottom: 30px;
}

// Code block
@import "_module/window";

