## OS
.DS_Store
.DS_Store?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Logs
logs
*.log
npm-debug.log*


## Node
node_modules
npm-debug.log

## Bower
bower_components

## Backup
*~

## Build
dist/css
dist/scripts
dist/**/*.html
dist/assets/css

## Sublime editor
*.sublime-project
*.sublime-workspace

.eslintrc

## Todo
dist/humans.txt
dist/robots.txt

## Dev
.sass-cache
temp
