// =============
// Colors
// =============

// Color Pattles
$color-gray-lightest: #F2F6F7; // rgb(242, 246, 247)
$color-gray-lighter : #DFE4E6; // rgb(223, 228, 230)
$color-gray-light   : #B8BDBF; // rgb(184, 189, 191)
$color-gray         : #919799; // rgb(145, 151, 153)
$color-gray-dark    : #6C7173; // rgb(108, 113, 115)
$color-gray-darker  : #3B3F40; // rgb(59, 63, 64)

// Primary Color
$color-primary-light      : #CAB6F2; //rgb(202, 182, 242)
$color-primary            : #8962D9; //rgb(137, 98, 217)
$color-primary-dark       : #6B5499; //rgb(107, 84, 153)

// Secondary Color
$color-secondary-red       : #E6175C;
$color-secondary-orange    : #F27F0C;
$color-secondary-yellow    : #FFD919;
$color-secondary-blue      : hsl(210, 81.8, 46.8);
$color-secondary-bue-light : hsl(210, 87.7, 59.4);
$color-secondary-blue-dark : hsl(210, 90.5, 36.8);
$color-secondary-green     : #B9E617;

// Color States
$color-default : $color-gray-lighter;
$color-success : $color-secondary-green;
$color-error   : $color-secondary-red;
$color-warning : $color-secondary-yellow;


// =============
// Font
// =============
$font-family           : 'Helvetica Neue', Helvetica, sans-serif !default;
$font-family-heading   : $font-family;
$font-family-monospace : Consolas, Monaco, 'Courier New', monospace !default;
$font-size-regular     : 14px;
$font-size-smaller     : $font-size-regular - 3px;
$text-color-body       : $color-gray-dark;

// Text font size
$font-size-regular    : 14px;

$font-size-bigger     : $font-size-regular + 10px; //24
$font-size-big        : $font-size-regular + 4px;  //18
$font-size-small      : $font-size-regular - 1px;  //13
$font-size-smaller    : $font-size-regular - 2px;  //12

// UI font size
$ui-font-size-bigger  : $font-size-bigger;  //24
$ui-font-size-big     : $font-size-big;     //18
$ui-font-size         : $font-size-regular; //14
$ui-font-size-small   : $font-size-small;   //13
$ui-font-size-smaller : $font-size-smaller; //12

// Baseline
$base-unit         : 4px;
$base-line-bigger  : 32px;
$base-line-big     : 24px;
$base-line         : 18px;
$base-line-small   : 16px;
$base-line-smaller : 16px;

// Headings
$font-size-title : $kappa;
$font-size-h1    : $font-size-regular * 2;
$font-size-h2    : $font-size-regular * 1.5;
$font-size-h3    : $font-size-regular + 2px;
$font-size-h4    : $font-size-small;
$font-size-h5    : 13px;
$font-size-h6    : 12px;

// Lineheight
$line-height-title : 64px;
$line-height-h1    : 52px;
$line-height-h2    : $base-line-bigger;
$line-height-h3    : $base-line-big;
$line-height-h4    : $base-line;
$line-height-h5    : $base-line;
$line-height-h6    : $base-line;


// =============
// Buttons
// =============
$button-border-radius : 0;
$button-padding       : $beta $zeta;
$ui-height            : 34px;
$ui-line-height       : 18px;


// =============
// Labels & Badge
// =============
$label-font-size     : 12px;
$label-line-height   : 18px;
$label-text-color    : $color-gray-darker;
$label-border-border : 1px solid transparent;
$label-border-radius : 2px;
$label-padding       : $alpha $beta;
$badge-padding       : $alpha $beta;


// =============
// Tables
// =============
$table-border                   : 1px solid $color-gray-lighter;
$table-striped-background-color : $color-gray-lightest;
$table-hover-background-color   : rgba($color-secondary-blue, .1);


// =============
// Forms
// =============
$form-element-text-color       : $color-gray-dark;
$label-color                   : $form-element-text-color;
$form-label-font-size          : $ui-font-size-small;
$input-place-hold-color        : $color-gray-light;
$form-border-radius            : 0;
$input-focus-border-color      : $color-primary;
$input-focus-box-shadow        : 0 0 0 2px rgba($color-primary, .3), 0 1px 2px rgba($color-gray-darker, .1) inset;
$input-sucess-box-shadow       : 0 0 0 2px rgba($color-success, .3), 0 1px 2px rgba($color-gray-darker, .1) inset;
$input-error-box-shadow        : 0 0 0 2px rgba($color-error, .3), 0 1px 2px rgba($color-gray-darker, .1) inset;
$input-disabled-opacity        : 0.4;
$input-border-size             : 1px;
$input-border-color            : $color-gray-light;
$input-background-color        : white;
$input-focus-background-color  : white;
$input-append-background-color : $color-gray-lighter ;
$input-padding                 : 8px 10px;
$input-padding-big             : 16px 10px;


// =============
// Tabs
// =============
$tab-text-color              : $color-gray;
$tab-text-color-active       : $color-gray-darker;
$tab-header-font-size        : 20px;
$tab-header-text-line-height : 26px;
$tab-header-padding          : $gamma $iota $delta;


// =============
// Breadcrumb
// =============
$breadcrumb-font-size             : 14px;
$breadcrumb-font-line-height      : 18px;
$breadcrumb-item-text-link-color  : $color-primary;
$breadcrumb-item-text-hover-color : $color-primary-dark;
$breadcrumb-item-padding          : 0 $gamma;
$breadcrumb-separator-color       : $color-gray-light;
$breadcrumb-item-text-color       : $color-gray-dark;
$breadcrumb-separator             : '/';
