// =============
// Colors
// =============

// Color Pattles
$color-gray-lightest: #F2F6F7; // rgb(242, 246, 247)
$color-gray-lighter : #DFE4E6; // rgb(223, 228, 230)
$color-gray-light   : #B8BDBF; // rgb(184, 189, 191)
$color-gray         : #919799; // rgb(145, 151, 153)
$color-gray-dark    : #6C7173; // rgb(108, 113, 115)
$color-gray-darker  : #3B3F40; // rgb(59, 63, 64)

// Primary Color
$color-primary-Light      : #CAB6F2; //rgb(202, 182, 242)
$color-primary            : #8962D9; //rgb(137, 98, 217)
$color-primary-Dark       : #6B5499; //rgb(107, 84, 153)

// Secondary Color
$color-secondary-red       : #E6175C;
$color-secondary-orange    : #F27F0C;
$color-secondary-yellow    : #FFD919;
$color-secondary-blue      : hsl(210, 81.8, 46.8);
$color-secondary-bue-light : hsl(210, 87.7, 59.4);
$color-secondary-blue-dark : hsl(210, 90.5, 36.8);
$color-secondary-green     : #B9E617;

// Color States
$color-default : $color-gray-lighter;
$color-success : $color-secondary-green;
$color-error   : $color-secondary-red;
$color-warning : $color-secondary-yellow;


// =============
// Font
// =============
$font-family           : 'Helvetica Neue', Helvetica, sans-serif !default;
$font-family-heading   : $font-family;
$font-family-monospace : Consolas, Monaco, 'Courier New', monospace !default;
