// =============
// 1.Colors
// 2.Text
// 3.Unit
// 4.Breakpoints
// 5.Grid
// 6.Z Indexes
// 7.Font
// 8.Typography
// 9.Buttons
// 10.Pagination
// 11.Labels & Badge
// 12.Tables
// 13.Forms
// 14.Tabs
// 15.Breadcrumb
// 16.Dropdowns
// 17.Modals
// 18.Loader
// 19.
// 20.
// =============



// =============
// Colors
// =============

// Color Pattles
$color-gray-lightest : #F2F4F7;
$color-gray-lighter  : #DFE4ED; // rgb(223, 228, 237)
$color-gray-light    : #BFC7D9; // rgb(191, 199, 217)
$color-gray          : #939FB8; // rgb(145, 159, 184)
$color-gray-dark     : #6C7891; // rgb(108, 120, 145)
$color-gray-darker   : #3B465C; // rgb(59, 79, 92)
$color-gray-darkest  : #1A2233; // rgb(26, 34, 51)
$color-gray-white    : white;
$color-gray-black    : black;

// Primary Color
$color-primary-light      : #C2AAF2; //rgb(202, 182, 242)
$color-primary            : #8E73DA;
$color-primary-dark       : #6B49AA;

// Secondary Color
$color-secondary-blue         : #1F9BF7;
$color-secondary-turquoise    : #3DE0C5;
$color-secondary-green        : #13CE66;
$color-secondary-yellow       : #F7BA2A;
$color-secondary-orange       : #F87B09;
$color-secondary-red          : #FE4949;
$color-secondary-pink         : #E56AA6;
$color-secondary-bue-light    : #58B7FF;
$color-secondary-blue-dark    : #1D8CE0;
$color-secondary-green-light  : #58ED9B;
$color-secondary-green-dark   : #10AD57;
$color-secondary-yellow-light : #FFD063;
$color-secondary-yellow-dark  : #E3AB29;
$color-secondary-red-light    : #FF8686;
$color-secondary-red-dark     : #E04141;

// Color States
$color-default : $color-gray-lighter;
$color-success : $color-secondary-green;
$color-error   : $color-secondary-red;
$color-warning : $color-secondary-yellow;

// Color Text
$text-color-body            : $color-gray-darker;
$text-color-heading         : $color-gray-darker;
$text-color-samp            : $color-gray-lightest;
$text-color-input           : $color-gray-darker;
// $text-color-input-append : $color-gray-darker;
$text-link-color            : $color-primary;
$text-link-hover-color      : darken($color-primary, 10%);

// Background
$background-color-body      : $color-gray-lightest;
$background-color-pre       : $color-gray-lightest;
$background-color-mark      : $color-warning;
$background-color-code      : $color-default;
$background-color-samp      : lighten($color-primary, 7%);
$background-color-highlight : rgba($color-primary, .075);



// =============
// Unit
// =============

$base-unit : 4px;
$alpha     : 4px;
$beta      : 8px;
$gamma     : 12px;
$delta     : 16px;
$epsilon   : 20px;
$zeta      : 24px;
$eta       : 28px;
$theta     : 32px;
$iota      : 36px;
$kappa     : 40px;

$padding-xs     : $base-unit;
$padding-sm     : $base-unit*2;
$padding-md     : $base-unit*3;
$padding-lg     : $base-unit*4;
$padding-xl     : $base-unit*5;

$radius-default : 0;
$radius-xs      : $base-unit;
$radius-sm      : $base-unit*2;
$radius-md      : $base-unit*3;
$radius-lg      : $base-unit*4;
$radius-xl      : $base-unit*5;

// =============
// Breakpoints
// =============
$breakpoint-sm : 768px;
$breakpoint-md : 1024px;
$breakpoint-lg : 1200px;



// =============
// Grid
// =============
$grid-columns        : 12;
$grid-width          : 1128; // pixels
$grid-gutter         : 15px;
$grid-gutter-integer : ($grid-gutter / ($grid-gutter * 0 + 1));
$grid-gap            : ($grid-gutter-integer / ($grid-width / 100)) * 1%;



// =============
// Z Indexes
// =============
$z-over-content : 100;
$z-over-control : 200;
$z-over-page    : 300;
$z-over-screen  : 400;
$z-over-all     : 500;



// =============
// Font
// =============

// FontFamily
$font-family           : 'Helvetica Neue', Helvetica, sans-serif;
$font-family-heading   : $font-family;
$font-family-monospace : Consolas, Monaco, "Courier New", monospace;

// FontSize
$browser-context   : 16px;
$font-size-regular : 14px;
$font-size-body    : rem(14);
$font-size-mega    : rem(32);
$font-size-jumbo   : rem(28);
$font-size-display : rem(24);
$font-size-xxl     : rem(20);
$font-size-xl      : rem(18);
$font-size-lg      : rem(16);
$font-size-md      : rem(14);
$font-size-sm      : rem(13);
$font-size-xs      : rem(12);

// LineHeight
$line-height-mega    : 1.333;
$line-height-jumbo   : 1.333;
$line-height-display : 1.5;
$line-height-xxl     : 1.5;
$line-height-xl      : 1.6;
$line-height-lg      : 1.5;
$line-height-md      : 1.4285714;
$line-height-sm      : 1.5;
$line-height-xs      : 1.6;
$line-height-h1      : $line-height-mega;
$line-height-h2      : $line-height-jumbo;
$line-height-h3      : $line-height-display;

// Headings
$font-size-h1  : $font-size-mega;
$font-size-h2  : $font-size-jumbo;
$font-size-h3  : $font-size-display;
$font-size-h4  : $font-size-xxl;
$font-size-h5  : $font-size-xl;
$font-size-h6  : $font-size-lg;

// Text and block Spaces
$margin-bottom-heading   : rem(12);
$margin-bottom-paragraph : rem(16);



// =============
// Typography
// =============

// Preformatted
$pre-block-padding  : em($padding-xl);
$pre-block-radius   : $radius-default;
$code-block-padding : $padding-xs $padding-sm;
$list-margin-left   : 1.5;

// Kbd
$kbd-border: 1px solid rgba($color-gray-darker, .1);



// =============
// Buttons
// =============
$button-font-weight              : normal;
$button-background-color         : transparent;
$button-border-radius            : 4px;
$button-border-width-default     : 1px;
$button-border-style             : solid;
$button-padding                  : 0 28px;
// $button-padding               : em(8px);
$button-padding-big              : 0 48px;
$button-padding-sm               : 0 20px;
$button-padding-sm-h             : 2 * $base-unit;
$button-padding-sm-h             : rem($button-padding-sm-h );
$button-padding-sm-v             : 3 * $base-unit;
$button-padding-sm-v             : rem($button-padding-sm-v);
$button-padding-md-h             : $button-padding-sm-h;
$button-padding-md-h             : rem($button-padding-sm-v);
$button-padding-md-v             : 4 * $base-unit;
$button-padding-md-v             : rem($button-padding-md-v);
$button-padding-lg-h             : $button-padding-sm-h;
$button-padding-lg-h             : rem($button-padding-lg-h);
$button-padding-lg-v             : 5 * $base-unit;
$button-padding-lg-v             : rem($button-padding-lg-v);
$height                          : 40px;
$height-big                      : 48px;
$height-sm                       : 32px;
$line-height                     : 38px;
$line-height-big                 : 46px;
$line-height-sm                  : 32px;
$button-outline-border-size      : $button-border-width-default;
$button-outline-font-weight      : normal;
// outline
$button-outline-background-color : transparent;


// =============
// Pagination
// =============
$pagination-border-color: $color-gray-lighter;
$pagination-border-radius: $line-height-md;
$pagination-color: $color-gray-darker;
$pagination-hover-background: #f4f4f4;
// $pagination-hover-background: $color-primary-light;
// $pagination-hover-color: $color-primary;
$pagination-hover-color: rgba(0, 0, 0, .5);
// $pagination-padding: $beta $delta;
$pagination-padding: 8px 16px;



// =============
// Labels & Badge
// =============
// Label
$label-font-size   : $font-size-md;
$label-color       : #111;
$label-font-weight : normal;

$label-font-size     : $font-size-sm;
$label-line-height   : $line-height-sm;
$label-text-color    : $color-gray-darker;
$label-border-border : 1px solid transparent;
$label-border-radius : 2px;
$label-padding       : $alpha $beta;
$badge-padding       : $alpha $beta;



// =============
// Tables
// =============
$table-border                   : 1px solid $color-gray-lighter;
$table-striped-background-color : $color-gray-lightest;
$table-hover-background-color   : rgba($color-secondary-blue, .1);
$table-border                   : 1px solid #eee;



// =============
// Forms
// =============
$form-border-radius            : 0;
$form-element-text-color       : $color-gray-dark;
$form-label-font-size          : $font-size-md;
$input-append-background-color : $color-gray-lighter ;
$input-background-color        : white;
$input-border-color            : $color-gray-light;
$input-border-size             : 1px;
$input-disabled-color          : rgba(0, 0, 0, .5);
$input-disabled-opacity        : 0.4;
$input-error-box-shadow        : 0 0 0 2px rgba($color-error, .3), 0 1px 2px rgba($color-gray-darker, .1) inset;
$input-focus-background-color  : white;
$input-focus-border-color      : $color-primary;
$input-focus-box-shadow        : 0 0 0 2px rgba($color-primary, .3), 0 1px 2px rgba($color-gray-darker, .1) inset;
$input-padding                 : $padding-sm;
$input-padding-big             : $padding-sm $padding-md;
$input-place-hold-color        : $color-gray-light;
$input-sucess-box-shadow       : 0 0 0 2px rgba($color-success, .3), 0 1px 2px rgba($color-gray-darker, .1) inset;
$label-color                   : $form-element-text-color;
$fieldset-border-color         : rgba(0, 0, 0, .1);
$fieldset-border-size          : 1px;



// =============
// Tabs
// =============
$tab-text-color              : $color-gray;
$tab-text-color-active       : $color-gray-darker;
$tab-header-font-size        : 20px;
$tab-header-text-line-height : 26px;
$tab-header-padding          : $gamma $iota $delta;



// =============
// Breadcrumb
// =============
$breadcrumb-font-size             : 14px;
$breadcrumb-font-line-height      : 18px;
$breadcrumb-item-text-link-color  : $color-primary;
$breadcrumb-item-text-hover-color : $color-primary-dark;
$breadcrumb-item-padding          : 0 $gamma;
$breadcrumb-separator-color       : $color-gray-light;
$breadcrumb-item-text-color       : $color-gray-dark;
$breadcrumb-separator             : '/';



// =============
// Dropdowns
// =============
$dropdown-color                       : $color-gray-dark;
$dropdown-font-size                   : $font-size-md;
$dropdown-z-index                     : $z-over-content;
$dropdowm-border                      : 1px solid $color-gray-light;
$dropdowm-list-item-separator         : none;
$dropdowm-list-item-padding           : $beta $gamma;
$dropdowm-list-item-background        : white;
$dropdowm-list-item-background-active : $color-primary-light;



// =============
// Modals
// =============
$modal-border               : 1px solid $color-gray-lighter;
$modal-header-font-size     : $line-height-xl;
$modal-header-padding       : $theta;
$modal-body-padding         : $theta;
// $modal-border-radius        : 0;
$modal-border-radius-top    : 0;
$modal-footer-background    : $color-gray-lightest;
// $modal-footer-padding       : $gamma $theta;
// $modal-close                : 20px;
$overlay-background-opacity : 0.9;
$overlay-color              : (top                                                                                   : #462882, bottom : #080938);
$overlay-background-color   : rgba(map-get($overlay-color, top),1) 30%, rgba(map-get($overlay-color, bottom),1) 70%;
$modal-border               : none;
$modal-header-font-size     : $font-size-md;
$modal-header-padding       : 24px 32px;
$modal-body-padding         : 36px 56px;
$modal-footer-padding       : 0;
$modal-footer-background    : #fff;
$modal-border-radius        : 8px;
$modal-border-radius-top    : 4px;
$modal-close                : 36px;



// =============
// Loader
// =============
// $loader-color-primary: rgba($color-primary, 0.2);
// $loader-color-secondary: $color-primary-light;
$loader-color-primary: $color-primary;
$loader-color-secondary: lighten($color-primary, 20%);
$loader-bar-width: 100px;
$loader-bar-height: 10px;


