// =============
// 1.Colors
// 2.Text
// =============



// =============
// Colors
// =============

// Color Pattles
$color-gray-lightest : #F2F4F7;
$color-gray-lighter  : #DFE4ED; // rgb(223, 228, 237)
$color-gray-light    : #BFC7D9; // rgb(191, 199, 217)
$color-gray          : #939FB8; // rgb(145, 159, 184)
$color-gray-dark     : #6C7891; // rgb(108, 120, 145)
$color-gray-darker   : #3B465C; // rgb(59, 79, 92)
$color-gray-darkest  : #1A2233; // rgb(26, 34, 51)
$color-gray-white    : white;
$color-gray-black    : black;

// Primary Color
$color-primary-light      : #C2AAF2; //rgb(202, 182, 242)
$color-primary            : #8E73DA;
$color-primary-dark       : #6B49AA;

// Secondary Color
$color-secondary-blue         : #1F9BF7;
$color-secondary-turquoise    : #3DE0C5;
$color-secondary-green        : #13CE66;
$color-secondary-yellow       : #F7BA2A;
$color-secondary-orange       : #F87B09;
$color-secondary-red          : #FE4949;
$color-secondary-pink         : #E56AA6;
$color-secondary-bue-light    : #58B7FF;
$color-secondary-blue-dark    : #1D8CE0;
$color-secondary-green-light  : #58ED9B;
$color-secondary-green-dark   : #10AD57;
$color-secondary-yellow-light : #FFD063;
$color-secondary-yellow-dark  : #E3AB29;
$color-secondary-red-light    : #FF8686;
$color-secondary-red-dark     : #E04141;

// Color States
$color-default : $color-gray-lighter;
$color-success : $color-secondary-green;
$color-error   : $color-secondary-red;
$color-warning : $color-secondary-yellow;

// Color Text
$text-color-body         : $color-gray-darker;
$text-color-heading      : $color-gray-darker;
$text-color-samp         : $color-gray-lightest;
$text-color-input        : $color-gray-darker;
// $text-color-input-append : $color-gray-darker;
$text-link-color       : $color-primary;
$text-link-hover-color : darken($color-primary, 10%);

// Background
$background-color-body      : $color-gray-lightest;
$background-color-pre       : $color-gray-lightest;
$background-color-mark      : $color-warning;
$background-color-code      : $color-default;
$background-color-samp      : lighten($color-primary, 7%);
$background-color-highlight : rgba($color-primary, .075);



// =============
// Unit
// =============

$base-unit : 4px;
$alpha     : 4px;
$beta      : 8px;
$gamma     : 12px;
$delta     : 16px;
$epsilon   : 20px;
$zeta      : 24px;
$eta       : 28px;
$theta     : 32px;
$iota      : 36px;
$kappa     : 40px;

$padding-xsmall : $base-unit;
$padding-small  : $base-unit*2;
$padding-medium : $base-unit*3;
$padding-large  : $base-unit*4;
$padding-xlarge : $base-unit*5;

$radius-default: 0;
$radius-xsmall : $base-unit;
$radius-small  : $base-unit*2;
$radius-medium : $base-unit*3;
$radius-large  : $base-unit*4;
$radius-xlarge : $base-unit*5;

// =============
// Breakpoints
// =============
$breakpoint-small  : 768px;
$breakpoint-medium : 1024px;
$breakpoint-large  : 1200px;



// =============
// Grid
// =============
$grid-columns        : 12;
$grid-width          : 1128; // pixels
$grid-gutter         : 15px;
$grid-gutter-integer : ($grid-gutter / ($grid-gutter * 0 + 1));
$grid-gap            : ($grid-gutter-integer / ($grid-width / 100)) * 1%;



// =============
// Z Indexes
// =============
$z-over-content : 100;
$z-over-control : 200;
$z-over-page    : 300;
$z-over-screen  : 400;
$z-over-all     : 500;



// =============
// Font
// =============

// FontFamily
$font-family           : 'Helvetica Neue', Helvetica, sans-serif;
$font-family-heading   : $font-family;
$font-family-monospace : Consolas, Monaco, "Courier New", monospace;

// FontSize
$browser-context      : 16px;
$font-size-regular    : 14px;
$font-size-body    : rem(14);
$font-size-mega    : rem(32);
$font-size-jumbo   : rem(28);
$font-size-display : rem(24);
$font-size-xxl     : rem(20);
$font-size-xl      : rem(18);
$font-size-lg      : rem(16);
$font-size-md      : rem(14);
$font-size-sm      : rem(13);
$font-size-xs      : rem(12);

// LineHeight
$line-height-mega    : 1.333;
$line-height-jumbo   : 1.333;
$line-height-display : 1.5;
$line-height-xxl     : 1.5;
$line-height-xl      : 1.6;
$line-height-lg      : 1.5;
$line-height-md      : 1.4285714;
$line-height-sm      : 1.5;
$line-height-xs      : 1.6;



// =============
// Typography
// =============

// Preformatted
$pre-block-padding: em($padding-xlarge);
$pre-block-radius: $radius-default;
$code-block-padding: $padding-xsmall $padding-small;
$list-margin-left: 1.5;



// =============
// Buttons
// =============
$button-padding-small-h  : 2 * $base-unit;
$button-padding-small-v  : 3 * $base-unit;
$button-padding-medium-h : $button-padding-small-h;
$button-padding-medium-v : 4 * $base-unit;
$button-padding-large-h  : $button-padding-small-h;
$button-padding-large-v  : 5 * $base-unit;

$button-padding-small-h  : rem($button-padding-small-h );
$button-padding-small-v  : rem($button-padding-small-v);
$button-padding-medium-h : rem($button-padding-small-v);
$button-padding-medium-v : rem($button-padding-medium-v);
$button-padding-large-h  : rem($button-padding-large-h);
$button-padding-large-v  : rem($button-padding-large-v);

$button-border-width-default: 1px;



// =============
// Pagination
// =============
$pagination-border-radius: 0;
$pagination-padding: em(8px) em(16px);
$pagination-hover-background: #f4f4f4;
$pagination-hover-color: rgba(0, 0, 0, .5);
$pagination-color: #000;
$pagination-border-color: rgba(0, 0, 0, .1);
