#header
  #header-brand
    a(href='http://cepave.com/') Cepave
#main
  #hero
    h1
      span#owl-ui-lite-brand OWL UI lite
    p professional designer and developer CSS framework
    nav#hero-subnav
      ul
        li: span Download
        li: a(href=root_path+'docs/index.html') Documentation
    figure
      img(src=root_path+'assets/img/intro.png', alt='OWL UI lite CSS Framework' width='798', height='186')
    #owl-ui-lite-download-box
      a.button.call-to-action(href='#') Download
      a.button.outline(href='#') View on Github

