script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
script(src=root_path+'scripts/vendor/prism/prism.js')
script(src=root_path+'scripts/vendor/prism/prism-jade.js')
script(src=root_path+'scripts/main.js')
