extends base.pug

block content
  #header
    #header-brand
      a(href='../index.html') Cepave
  #main
    #hero
      h1
        span#owl-ui-lite-brand OWL UI lite
        |  — CSS Framework
      p professional designers and developers CSS framework
  include footer.pug
