$icons: (
	  sprite: (width: 524px, height: 516px, pngPath: '../img/sprite.png', svgPath: '../img/sprite.svg'),
 	add: (width: 18px, height: 18px, backgroundX: 0px, backgroundY: 0px),
 	arrow-down: (width: 18px, height: 18px, backgroundX: -28px, backgroundY: -28px),
 	arrow-up: (width: 18px, height: 18px, backgroundX: -56px, backgroundY: -56px),
 	chevron-left: (width: 18px, height: 18px, backgroundX: -84px, backgroundY: -84px),
 	chevron-right: (width: 18px, height: 18px, backgroundX: -112px, backgroundY: -112px),
 	circle-add: (width: 18px, height: 18px, backgroundX: -140px, backgroundY: -140px),
 	circle-exclamation: (width: 18px, height: 18px, backgroundX: -168px, backgroundY: -168px),
 	circle-info: (width: 18px, height: 18px, backgroundX: -196px, backgroundY: -196px),
 	circle-minus: (width: 18px, height: 18px, backgroundX: -224px, backgroundY: -224px),
 	circle-restore: (width: 18px, height: 18px, backgroundX: -252px, backgroundY: -252px),
 	facebook: (width: 10px, height: 22px, backgroundX: -280px, backgroundY: -280px),
 	search: (width: 18px, height: 18px, backgroundX: -300px, backgroundY: -312px),
 	sort: (width: 18px, height: 18px, backgroundX: -328px, backgroundY: -340px),
 	triangle-down: (width: 18px, height: 18px, backgroundX: -356px, backgroundY: -368px),
 	triangle-up: (width: 18px, height: 18px, backgroundX: -384px, backgroundY: -396px),
 	twitter: (width: 32px, height: 22px, backgroundX: -412px, backgroundY: -424px),
 	twitterHover: (width: 32px, height: 22px, backgroundX: -454px, backgroundY: -456px),
 	x: (width: 18px, height: 18px, backgroundX: -496px, backgroundY: -488px),
);
