%breadcrumb-item {
  font-style: normal;
  padding: $breadcrumb-item-padding;
  display: inline-block;
  white-space: nowrap;
}
.breadcrumb {
  margin-bottom: $line-height-body * 1rem;
  @include text-body;
  ul {
    @include flex;
    @include flex-middle;
  }
  &.centered ul {
    @include flex-center;
  }
  &.right ul {
    @include flex-right;
  }
  em {
    @extend %breadcrumb-item;
    color: $breadcrumb-item-text-hover-color;
  }
  a {
    @extend %breadcrumb-item;
    color: $breadcrumb-item-text-link-color;
    text-decoration: none;
    &:hover {
      @include transition;
      color: $breadcrumb-item-text-color;
      text-decoration: underline;
    }
  }
  li {
    &:after {
      display: inline-block;
      content: '/';
      color: $breadcrumb-separator-color;
    }
    &:last-child:after {
      display: none;
    }
    &:first-child em,
    &:first-child a {
      padding-left: 0;
    }
    &.active em,
    &.active a {
      text-decoration: none;
      cursor: text;
      color: $breadcrumb-separator-color;
    }
  }
}
