// Default
$button-text-color-default: $color-gray-darker;
$button-border-color-default: $color-gray-light;

button,
.button {
  font-weight: $button-font-weight;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding-top: rem(8px);
  padding-bottom: rem(8px);
  padding-left: rem(16px);
  padding-right: rem(16px);
  height: rem(36px);
  vertical-align: middle;
  -webkit-appearance: none;
  @include button-outline($button-text-color-default, $button-border-color-default);
  background-color: $color-gray-white;
  border-radius: $button-border-radius;
}
button:hover,
.button:hover {
  @include button-outline($color-primary, $color-primary);
  background-color: $color-gray-white;
  outline: none;
  text-decoration: none;
}

.button:disabled,
.button.disabled {
  cursor: default;
  font-style: normal;
  opacity: .4;
  &:hover {
    color: #000;
    box-shadow: none;
  }
}
input[type='submit'] {
  &.button {
    &:focus {
      box-shadow: none;
    }
  }
}

// Outline
.button.outline {
  color: $button-text-color-default;
  font-weight: $button-outline-font-weight;
  background: transparent;
}
.button.outline:hover {
  @include button-fill($button-text-color-default, $button-background-color);
  box-shadow: none;
}
.button.outline,
.button.outline:disabled:hover,
.button.outline.disabled:hover {
  @include button-outline($button-text-color-default, $button-border-color-default);
}

// Sizes
// .button.sm {
//   font-size: $font-size-xs;
//   line-height: $line-height-sm;
//   height: $height-sm;
//   padding: $button-padding-sm;
//   &.upper {
//     font-size: $font-size-xs - 2px;
//   }
// }
// .button.big {
//   font-size: $font-size-md;
//   line-height: $line-height-big;
//   height: $height-big;
//   padding: $button-padding-big;
//   &.upper {
//     font-size: $font-size-md - 5px;
//   }
// }

// Upper
.button.upper {
  // font-size: $font-size - 3px;
}

// Primary
.button.primary {
  @include button-reset;
  @include button-fill(white, $color-primary);

  &:focus,
  &:hover {
    @include button-fill(white, $color-primary-light);
  }
  &:active,
  &.active {
    @include button-fill(white, $color-primary-dark);
  }
  &:disabled:hover,
  &.disabled:hover {
    @include button-fill(white, $color-primary);
  }

  &.outline {
    @include button-outline($color-primary, $color-primary);
    &:focus,
    &:hover {
      @include button-fill(white, $color-primary);
    }
    &:disabled:hover,
    &.disabled:hover {
      @include button-outline($color-primary, $color-primary);
    }
  }
}
// Inverted
.button.inverted {
  @include button($color-gray-darkest, $color-gray-lightest);
}

// Grouped
.buttons.group {

  display: inline-block;
  vertical-align: bottom;

  .button {
    float: left;
    margin-left: -1px;
    border-radius: 0;

    &:first-child {
      border-radius: $button-border-radius 0 0 $button-border-radius;
    }
    &:last-child {
      border-radius: 0 $button-border-radius $button-border-radius 0;
    }
  }
}
