// Default
$button-text-color-default: rgba(0, 0, 0, .6);
$button-border-color-default: rgba(0,0,0,.2);

button,
.button {
  font-family: $font-family;
  font-size: $ui-font-size;
  font-weight: $button-font-weight;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: $ui-line-height;
  height: $ui-height;
  padding: $button-padding;
  border: $button-outline-border-size solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  @include button-fill(#000, $button-background-color);
  border-radius: $button-border-radius;
}
button:hover,
.button:hover {
  @include button-fill($button-text-color-default, $button-background-color);
  outline: none;
  text-decoration: none;
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, .1);
}

.button:disabled,
.button.disabled {
  cursor: default;
  font-style: normal;
  opacity: .4;
  &:hover {
    color: #000;
    box-shadow: none;
  }
}

// Outline
.button.outline {
  background: none;
  font-weight: $button-outline-font-weight;
}
.button.outline:hover {
  @include button-outline($button-text-color-default, $button-border-color-default);
  box-shadow: none;
}
.button.outline,
.button.outline:disabled:hover,
.button.outline.disabled:hover {
  @include button-outline($button-text-color-default, $button-border-color-default);
}

// Sizes
.button.small {
  font-size: $ui-font-size-small;
  line-height: $ui-line-height-small;
  height: $ui-height-small;
  padding: $button-padding-small;
  &.upper {
    font-size: $ui-font-size-small - 2px;
  }
}
.button.big {
  font-size: $ui-font-size-big;
  line-height: $ui-line-height-big;
  height: $ui-height-big;
  padding: $button-padding-big;
  &.upper {
    font-size: $ui-font-size-big - 5px;
  }
}

// Upper
.button.upper {
  font-size: $ui-font-size - 3px;
}

// Primary
.button.primary {

  @include button-fill(white, $color-primary);
  &:focus,
  &:hover {
    @include button-fill(white, $color-primary-Dark);
  }
  &:disabled:hover,
  &.disabled:hover {
    @include button-fill(white, $color-primary);
  }

  &.outline {
    @include button-outline($color-primary, $color-primary);
    &:focus,
    &:hover {
      @include button-fill(white, $color-primary);
    }
    &:disabled:hover,
    &.disabled:hover {
      @include button-outline($color-primary, $color-primary);
    }
  }
}
// Inverted
.button.inverted {
  @include button(#000, white);
}

// Grouped
.buttons.group {

  display: inline-block;
  vertical-align: bottom;

  .button {
    float: left;
    margin-left: -1px;
    border-radius: 0;

    &:first-child {
      border-radius: $button-border-radius 0 0 $button-border-radius;
    }
    &:last-child {
      border-radius: 0 $button-border-radius $button-border-radius 0;
    }
  }
}
