.dropdown {
  position: relative;
  cursor: pointer;
  .dropdown {
    position: absolute;
    display: none;
    z-index: $dropdown-z-index;
    top: 100%;
    left: 0;
    width: 180px;
    color: $dropdown-color;
    background: $dropdowm-list-item-background;
    border-radius: 0;
    overflow: auto;
    // max-height: 300px;
    margin: 0;
    padding: 0;
    font-size: $dropdown-font-size;
    border: $dropdowm-border;
    .close {
      margin: 20px auto;
    }

    &.open {
      display: block;
    }
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      & + li {
        border-top: $dropdowm-list-item-separator;
      }
      a {
        display: block;
        padding: $dropdowm-list-item-padding;
        text-decoration: none;
        background-color: $dropdowm-list-item-background;
        color: $dropdown-color;
        &:hover {
          @include left-line(4px, $color-primary-light);
        }
      }
      &:active,
      &.active {
        a {
          background-color: $dropdowm-list-item-background-active;
          color: white;
        }
      }
    }
  }
}
