%form-base,
.form-base {
  @include form-base;
}
%input-base,
.input-base {
  @include input-base;
}
%form-block-el,
.form-block-el {
  display: block;
  width: 100%;
  padding: $input-padding;
  border-radius: $form-border-radius;
  background: $input-background-color;
  border: $input-border-size solid $input-border-color;
}

input,
select,
textarea,
fieldset {
  @extend %form-base;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  @extend %input-base;
}

select,
textarea {
  @extend %form-block-el;
}

select:not([multiple]) {
  cursor: pointer;
  height: $ui-height;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

textarea,
select,
input {
  &:focus {
    outline: none;
    background: $input-focus-background-color;
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }
}
input {
  &[type="radio"],
  &[type="checkbox"] {
    margin-right: $beta;
    top: -1px;
    &:focus {
      box-shadow: none;
    }
  }
}
textarea,
select,
input {
  &:disabled,
  &.disabled {
  resize: none;
  opacity: $input-disabled-opacity;
  cursor: default;
  font-style: italic;
 }
}

// Fieldset
fieldset {
  padding: $iota $zeta $zeta;
  margin-bottom: $line-height-body * 1em;
  border: $fieldset-border-size solid $fieldset-border-color;
  border-radius: $form-border-radius;
}
legend {
  font-weight: bold;
  font-size: $ui-font-size-small;
  text-transform: uppercase;
  padding: 0 1em;
  margin-left: -1rem;
  top: rem(2px);
  position: relative;
  line-height: 0;
}

// Collection
.form {
  margin-bottom: 0;
  .form-item {
    margin-bottom: 1rem;
  }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  select,
  textarea {
    display: block;
    width: 100%;
  }

  input,
  textarea,
  select {
    &.width-50 { width: 50%; }
  }

  label {
    color: $label-color;
    font-weight: $label-font-weight;
    display: block;
    margin-bottom: $alpha;
  }

  br + .button {
    margin-top: $alpha;
  }

  .checkboxes label,
  label.checkbox {
    text-transform: none;
    font-weight: normal;
    cursor: pointer;
    color: inherit;
    // font-size: $ui-font-size-small;
  }

  .checkboxes label {
    margin-bottom: $alpha;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .checkboxes-inline {
    display: block;
    label {
      font-size: inherit;
      color: inherit;
      display: inline-block;
      margin-right: $delta;
      text-transform: none;
      font-weight: normal;
    }
  }

  span.error,
  div.error,
  span.success,
  div.success {
    text-transform: none;
    font-weight: normal;
    @include typo-small;
  }

  span.error,
  span.success {
    margin-left: .4rem;
  }
}

// Inline
.form-inline {

  textarea,
  select,
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="url"],
  input[type="password"] {
    width: auto;
    display: inline-block;
  }
}

// // Sizes
// input.big,
// select.big {
//   font-size: $ui-font-size-title;
//   height: $ui-height-big;
// }
// input.big {
//   padding: $input-padding-big;
// }
// select.big {
//   padding: 6px 10px;
// }

// Descriptions
.desc {
  text-transform: none;
  margin-top: 4px;
  color: rgba($color-gray-darker, .5);
  font-weight: normal;
  @extend .typo-cation;
}
ul.desc {
  margin-bottom: 8px;
}
span.desc {
  margin-left: 4px;
}

// States
input,
textarea,
select {

  &.error {
    margin-top: -1px;
    background: none;
    background-color: rgba($color-error, .1);
    border: $input-border-size solid $color-error;
    &:focus {
      box-shadow: $input-error-box-shadow;
    }
  }
}
input,
textarea,
select {

  &.success {
    margin-top: -1px;
    background: none;
    background-color: rgba($color-success, .1);
    border: $input-border-size solid $color-success;
    &:focus {
      box-shadow: $input-sucess-box-shadow;
    }
  }
}
input[type='submit'] {
  &:focus {
    box-shadow: none;
  }
}
// Append Prepend
.controls {
  @include flex;

  input {
    @include flex-item-one;
    margin-bottom: 0 !important;
  }

  .button,
  span,
  .append {
    @include flex-item-shrink;
  }

  span, .append {
    font-weight: normal;
    background-color: $input-append-background-color;
    @include typo-body;
    white-space: nowrap;
    padding: rem(8px);
  }

  .button {
    border-radius: $form-border-radius;
  }
}

// Responsive
@media (max-width: $breakpoint-small) {

  .form {
    input,
    textarea,
    select {

      // disable autozoom
      // font-size: 16px;

      &.width-50 { width: 100%; }
    }
  }
}
