@import 'sprite';

$ieSprite: '.lt-ie9' !default;
$sprite: map-get($icons, sprite) !default;
$baseFontSize: 14px !default;

@import '../mixins/sprites';

@each $sprite-icon in icon-alarm, icon-arrow-down, icon-arrow-up, icon-bell, icon-bin, icon-board, icon-check, icon-chevron-left, icon-chevron-right, icon-circle-add, icon-circle-and, icon-circle-error, icon-circle-exclamation, icon-circle-info, icon-circle-minus, icon-circle-open-new, icon-circle-phone, icon-circle-prompt, icon-circle-restore, icon-circle-success, icon-clipboard, icon-clone, icon-cpu, icon-date, icon-disable, icon-disk, icon-double-left, icon-double-right, icon-eye, icon-eye-off, icon-filter, icon-fn, icon-gear, icon-graph, icon-grid-1, icon-grid-16, icon-grid-4, icon-grid-9, icon-health, icon-host, icon-legend, icon-linechart, icon-location, icon-memory, icon-more, icon-net, icon-note, icon-open-new, icon-other, icon-pen, icon-search, icon-sort, icon-sunny, icon-sync, icon-tick-circle, icon-time, icon-top10, icon-triangle-down, icon-triangle-up, icon-user-group, icon-x, icon-zoom-in, icon-zoom-out {
  .icon {
    &.#{$sprite-icon} {@include sprite($sprite-icon);}
  }
}
