
.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $z-over-control;
}
.modal {
  position: relative;
  margin: auto;
  margin-top: 16px;
  padding: 0;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
  border-radius: $modal-border-radius;
  border: $modal-border;
  // color: #000;

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  textarea {
    @media (max-width: $breakpoint-sm) {
      // font-size: 16px;
      // @include text-base;
    }
  }
  &-header {
    @include border-top-radius($modal-border-radius-top);
    padding: $modal-header-padding;
    font-size: $modal-header-font-size;
    font-weight: bold;
    &:empty {
      display: none;
    }
  }
  &-body {
    padding: $modal-body-padding;
    &:empty {
      display: none;
    }
  }
  &-footer {
    padding: $modal-footer-padding;
    background-color: $modal-footer-background;
    @include clearfix;
    &:empty {
      display: none;
    }
    .button + .button {
      margin-left: $gamma;
    }
  }
  .close {
    @include close-size($modal-close);
    position: absolute;
    top: 18px;
    right: 16px;
    opacity: .3;
    &:hover {
      opacity: 1;
    }
  }
}
.modal-header + .modal-body {
  // border-top: 1px solid $color-gray-lighter;
}
.modal-body + .modal-footer {
  border-top: 1px solid $color-gray-lighter;
}

// Responsive
@media (max-width: $breakpoint-sm) {
  .modal-header,
  .modal-body {
    padding: 24px;
  }
}
