.pagination {
  margin: $line-height-body 0;
  // font-size: $ui-font-size;
  @include typo-body;
  ol,
  ul {
    @include flex;
  }

  &.centered {
    ol,
    ul {
      @include flex-center;
    }
  }
  %pagination__item--block {
    display: inline-block;
    font-style: normal;
    padding: $pagination-padding;
    border-radius: $pagination-border-radius;
    white-space: nowrap;
    border: 1px solid transparent;
  }
  %pagination__item--block-effect {
    @include boder-thick(bottom, 2px, $color-primary);
    cursor: text;
  }
  em {
    @extend %pagination__item--block;
  }
  a {
    @extend %pagination__item--block;
    text-decoration: none;
    color: $pagination-color;
    &:hover {
      color: $pagination-hover-color;
      @extend %pagination__item--block-effect;
      cursor: pointer;
    }
  }
  li.active {
    em {
      @extend %pagination__item--block-effect;
    }
  }
  .upper {
    font-size: 11px;
  }
}

// Pager
.pager {

  em,
  a {
    border-radius: $pagination-border-radius;
    border-color: $pagination-border-color;
  }

  li {
    @include flex-basis(50%);
    &.next {
      text-align: right;
    }
  }

  &.centered {
    li {
      @include flex-basis(auto);
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &.flat {
    em,
    a {
      border: none;
      display: block;
      padding: 0;
    }
    a {
      font-weight: bold;
      &:hover {
        background: none;
       text-decoration: underline;
      }
    }
  }
}

.input {
  @include form-base;
  @include input-base;
  display: block;
  height: auto;
}

// Responsive
@media (max-width: $breakpoint-small) {
  .pager {
    &.flat {
      ul {
        @include flex-column;
      }
      li {
        @include flex-basis(100%);
        margin-bottom: 8px;
        text-align: left;
      }
    }
  }
}
