html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
img,
video,
audio {
  max-width: 100%;
}
img,
video {
  height: auto;
}
