$icons: (
  sprite: (width: 2058px, height: 2058px, svgPath: '../assets/img/sprite.svg'),
  icon-add: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
  icon-alarm: (width: 24px, height: 24px, backgroundX: -34px, backgroundY: -34px),
  icon-arrow-down: (width: 24px, height: 24px, backgroundX: -68px, backgroundY: -68px),
  icon-arrow-up: (width: 24px, height: 24px, backgroundX: -102px, backgroundY: -102px),
  icon-bell: (width: 24px, height: 24px, backgroundX: -136px, backgroundY: -136px),
  icon-bin: (width: 20px, height: 20px, backgroundX: -170px, backgroundY: -170px),
  icon-board: (width: 24px, height: 24px, backgroundX: -200px, backgroundY: -200px),
  icon-check: (width: 24px, height: 24px, backgroundX: -234px, backgroundY: -234px),
  icon-chevron-left: (width: 28px, height: 28px, backgroundX: -268px, backgroundY: -268px),
  icon-chevron-right: (width: 28px, height: 28px, backgroundX: -306px, backgroundY: -306px),
  icon-circle-add: (width: 20px, height: 20px, backgroundX: -344px, backgroundY: -344px),
  icon-circle-and: (width: 20px, height: 20px, backgroundX: -374px, backgroundY: -374px),
  icon-circle-error: (width: 20px, height: 20px, backgroundX: -404px, backgroundY: -404px),
  icon-circle-exclamation: (width: 20px, height: 20px, backgroundX: -434px, backgroundY: -434px),
  icon-circle-info: (width: 18px, height: 18px, backgroundX: -464px, backgroundY: -464px),
  icon-circle-minus: (width: 20px, height: 20px, backgroundX: -492px, backgroundY: -492px),
  icon-circle-open-new: (width: 20px, height: 20px, backgroundX: -522px, backgroundY: -522px),
  icon-circle-phone: (width: 20px, height: 20px, backgroundX: -552px, backgroundY: -552px),
  icon-circle-prompt: (width: 20px, height: 20px, backgroundX: -582px, backgroundY: -582px),
  icon-circle-restore: (width: 20px, height: 20px, backgroundX: -612px, backgroundY: -612px),
  icon-circle-success: (width: 20px, height: 20px, backgroundX: -642px, backgroundY: -642px),
  icon-clipboard: (width: 20px, height: 20px, backgroundX: -672px, backgroundY: -672px),
  icon-clone: (width: 24px, height: 24px, backgroundX: -702px, backgroundY: -702px),
  icon-cpu: (width: 24px, height: 24px, backgroundX: -736px, backgroundY: -736px),
  icon-date: (width: 18px, height: 18px, backgroundX: -770px, backgroundY: -770px),
  icon-disable: (width: 20px, height: 20px, backgroundX: -798px, backgroundY: -798px),
  icon-disk: (width: 24px, height: 24px, backgroundX: -828px, backgroundY: -828px),
  icon-double-left: (width: 20px, height: 20px, backgroundX: -862px, backgroundY: -862px),
  icon-double-right: (width: 20px, height: 20px, backgroundX: -892px, backgroundY: -892px),
  icon-eye: (width: 28px, height: 28px, backgroundX: -922px, backgroundY: -922px),
  icon-eye-off: (width: 24px, height: 24px, backgroundX: -960px, backgroundY: -960px),
  icon-filter: (width: 24px, height: 24px, backgroundX: -994px, backgroundY: -994px),
  icon-fn: (width: 20px, height: 20px, backgroundX: -1028px, backgroundY: -1028px),
  icon-gear: (width: 24px, height: 24px, backgroundX: -1058px, backgroundY: -1058px),
  icon-graph: (width: 24px, height: 24px, backgroundX: -1092px, backgroundY: -1092px),
  icon-grid-1: (width: 20px, height: 20px, backgroundX: -1126px, backgroundY: -1126px),
  icon-grid-16: (width: 20px, height: 20px, backgroundX: -1156px, backgroundY: -1156px),
  icon-grid-4: (width: 20px, height: 20px, backgroundX: -1186px, backgroundY: -1186px),
  icon-grid-9: (width: 20px, height: 20px, backgroundX: -1216px, backgroundY: -1216px),
  icon-health: (width: 24px, height: 24px, backgroundX: -1246px, backgroundY: -1246px),
  icon-host: (width: 28px, height: 28px, backgroundX: -1280px, backgroundY: -1280px),
  icon-legend: (width: 20px, height: 20px, backgroundX: -1318px, backgroundY: -1318px),
  icon-linechart: (width: 24px, height: 24px, backgroundX: -1348px, backgroundY: -1348px),
  icon-location: (width: 24px, height: 24px, backgroundX: -1382px, backgroundY: -1382px),
  icon-memory: (width: 24px, height: 24px, backgroundX: -1416px, backgroundY: -1416px),
  icon-more: (width: 24px, height: 24px, backgroundX: -1450px, backgroundY: -1450px),
  icon-net: (width: 24px, height: 24px, backgroundX: -1484px, backgroundY: -1484px),
  icon-note: (width: 24px, height: 24px, backgroundX: -1518px, backgroundY: -1518px),
  icon-open-new: (width: 20px, height: 20px, backgroundX: -1552px, backgroundY: -1552px),
  icon-other: (width: 24px, height: 24px, backgroundX: -1582px, backgroundY: -1582px),
  icon-pen: (width: 20px, height: 20px, backgroundX: -1616px, backgroundY: -1616px),
  icon-search: (width: 24px, height: 24px, backgroundX: -1646px, backgroundY: -1646px),
  icon-sort: (width: 18px, height: 18px, backgroundX: -1680px, backgroundY: -1680px),
  icon-sunny: (width: 24px, height: 24px, backgroundX: -1708px, backgroundY: -1708px),
  icon-sync: (width: 24px, height: 24px, backgroundX: -1742px, backgroundY: -1742px),
  icon-tick-circle: (width: 24px, height: 24px, backgroundX: -1776px, backgroundY: -1776px),
  icon-time: (width: 18px, height: 18px, backgroundX: -1810px, backgroundY: -1810px),
  icon-top10: (width: 24px, height: 24px, backgroundX: -1838px, backgroundY: -1838px),
  icon-triangle-down: (width: 20px, height: 20px, backgroundX: -1872px, backgroundY: -1872px),
  icon-triangle-up: (width: 18px, height: 18px, backgroundX: -1902px, backgroundY: -1902px),
  icon-user-group: (width: 28px, height: 28px, backgroundX: -1930px, backgroundY: -1930px),
  icon-x: (width: 20px, height: 20px, backgroundX: -1968px, backgroundY: -1968px),
  icon-zoom-in: (width: 20px, height: 20px, backgroundX: -1998px, backgroundY: -1998px),
  icon-zoom-out: (width: 20px, height: 20px, backgroundX: -2028px, backgroundY: -2028px),
);
