.tabs {
  font-size: $ui-font-size;
  line-height: $base-line;
  li {
    em,
    &.active a {
      color: #000;
      cursor: default;
      background: none;
      color: $tab-text-color-active;
      @include boder-thick(bottom, $alpha, $color-primary-light);
    }
  }
  em,
  a {
    display: block;
    padding: $tab-header-padding;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
    @include border-top-radius(4px);
  }
  a {
    color: $tab-text-color;
    &:hover {
      @include transition;
      @include boder-thick(bottom, $alpha, $color-primary);
    }
  }
  &.header {
    font-size: $tab-header-font-size;
    line-height: $tab-header-text-line-height;
    li {
      a {
        position: relative;
        &:hover {
          @include transition;
          @include boder-thick(bottom, $alpha, $color-primary);
        }
      }
      &.active {
        a {
          @include boder-thick(bottom, $alpha, $color-primary);
        }
      }
    }
  }
}

@media (min-width: $breakpoint-small) {

  .tabs ul {
    @include flex;
    // margin-top: -1px;
    // border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  .tabs li em,
  .tabs li.active a {
    // border-bottom: 1px solid #fff;

  }
}
