body {
  font-family: $font-family;
  font-size: $font-size-regular;
  line-height: $line-height-body;
  color: $text-color-body;
  background-color: $background-color-body;
}

// Links
a {
  color: $text-link-color;
  &:hover {
    color: $text-link-hover-color;
  }
}

// Headings
%heading {
  font-family: $font-family-heading;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  color: $text-color-heading;
  margin-bottom: $margin-bottom-heading;
}

h1,
.h1,
.text-mega {
  @include text-mega;
  @extend %heading;
}
h2,
.h2,
.text-jumbo {
  @include text-jumbo;
  @extend %heading;
}
h3,
.h3,
.text-display {
  @include text-display;
  @extend %heading;
}
h4,
.h4,
.text-headline {
  @include text-headline;
  @extend %heading;
}
h5,
.h5,
.subheder {
  @include text-subheder;
  @extend %heading;
}
h6,
.h6,
.title {
  @include text-title;
  @extend %heading;
  text-transform: uppercase;
  letter-spacing: .08em;
}
// Subheadings
.subheading {
  // margin-top: -($margin-bottom-heading - $base-unit);
  // margin-bottom: ($base-unit*2);
  font-weight: 300;
}
.cation {
  @include text-cation;
}
.small {
  @include text-small;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
figure {
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin-top: $base-unit * 8;
  }
}



// Lists
ul, ol {
  margin: 0;
  margin-left: $ui-list-margin-left*1em;
  & {
    ol, ul {
      margin: 0;
      margin-left: $ui-list-margin-left*1em;
    }
  }
}
ol ol {
  li {
    list-style-type: lower-alpha;
  }
  ol li {
    list-style-type: lower-roman;
  }
}
nav {
  ul, ol {
    margin: 0;
    list-style: none;
  }
}
dl dt {
  font-weight: 700;
}
dd {
  margin-left: $line-height-body;
}

// Block
p, blockquote, hr, pre, ol, ul, dl, table, fieldset, figure, address, form {
  margin-bottom: $margin-bottom-paragraph;
}
hr {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-top: -1px;
}
blockquote {
  padding-left: $line-height-body;
  border-left: 2px solid rgba(0, 0, 0, .125);
  font-style: italic;
  color: rgba(0, 0, 0, .65);
}

// Preformatted
pre, code, samp, var, kbd {
  font-family: $font-family-monospace;
  font-size: $font-size-cation;
}
pre {
  color: rgba(0, 0, 0, .85);
  background: $background-color-pre;
  padding: $ui-pre-block-padding;
  border-radius: $ui-pre-block-radius;
  line-height: $line-height-cation;
  overflow: none;
  white-space: pre-wrap;
}

// Inline
.small, time, cite, small, figcaption {
  font-size: $font-size-small;
  line-height: $line-height-small;
}
cite {
  color: rgba(0, 0, 0, .5);
}
figcaption {
  font-style: italic;
  padding-top: $base-unit;
  padding-bottom: $base-unit;
}
figure figcaption {
    position: relative;
    top: -$base-unit;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, .5);
  cursor: help;
}
mark, code, samp, kbd {
  padding: $ui-code-block-padding;
  display: inline-block;
  line-height: 1;
  border-radius: $base-unit;
  color: rgba(0, 0, 0, .85);
}
pre code {
  font-size: 100%;
  white-space: pre;
  padding: 0;
  background: none;
  line-height: $line-height-body;
}
mark {
  background-color: $background-color-mark;
}
code {
  background: $background-color-code;
}
var {
  color: rgba(0, 0, 0, .6);
  font-style: normal;
}
strong, b {
  line-height: 1;
}
samp {
  color: $text-color-samp;
  background: $background-color-samp;
}
kbd {
  border: $kbd-border;
}
sub,
sup {
  font-size: x-small;
  line-height: 0;
  margin-left: $base-unit;
  position: relative;
}
sup {
  top: -4px;
}
sub {
  bottom: -2px;
}
