// Layout
@mixin group {
  @include clearfix;
}
.group,
%group {
  @include group;
}

@mixin end {
  margin-bottom: 0 !important;
}
.end,
%end {
  @include end;
}

@mixin centered {
  margin-left: auto;
  margin-right: auto;
}
.centered,
%centered {
  @include centered;
}

// Float
@mixin float-right {
  float: right;
  @media (max-width: $breakpoint-small) {
    float: none;
  }
}
.float-right,
%float-right {
  @include float-right;
}

@mixin float-left {
  float: left;
  @media (max-width: $breakpoint-small) {
    float: none;
  }
}
.float-left,
%float-left {
  @include float-left;
}


// Alignment
@mixin text-right {
  text-align: right;
}
.text-right,
%text-right {
  @include text-right;
}

@mixin text-center {
  text-align: center;
}
.text-center,
%text-center,
.text-centered,
%text-centered {
  @include text-center;
}



// Display
@mixin hide {
  display: none;
}
.hide,
%hide {
  @include hide;
}

@mixin hide-on-small {
  @media (max-width: $breakpoint-small) {
    display: none !important;
  }
}
.hide-on-small,
%hide-on-small {
  @include hide-on-small;
}

@mixin show-on-small {
  display: none !important;
  @media (max-width: $breakpoint-small) {
    display: block !important;
  }
}
.show-on-small,
%show-on-small {
  @include show-on-small;
}

// Print
@mixin hide-on-print {
  @media print {
    display: none !important;
  }
}
@mixin show-on-print {
  @media print {
    display: block !important;
  }
}
.hide-on-print,
%hide-on-print {
  @include hide-on-print;
}
.show-on-print,
%show-on-print {
  @include show-on-print;
}


// Visibility
@mixin invisible {
  visibility: hidden;
}
.invisible,
%invisible {
  @include invisible;
}

@mixin visible {
  visibility: visible
}
.visible,
%visible {
  @include visible;
}


// TextColor
@mixin muted {
  color: rgba(0, 0, 0, .5) !important;
  &:hover {
    color: #000 !important;
  }
}
.muted,
%muted {
  @include muted;
}

@mixin soft-muted {
  color: rgba(0, 0, 0, .7) !important;
  &:hover {
    color: #000 !important;
  }
}
.soft-muted,
%soft-muted {
  @include soft-muted;
}

@mixin error {
  color: $color-error;
}
.error,
%error {
  @include error;
}

@mixin success {
  color: $color-success;
}
.success,
%success {
  @include success;
}

// TextStyle
@mixin upper {
  text-transform: uppercase;
  letter-spacing: .08em;
}
.upper,
%upper {
  @include upper;
}

@mixin normal {
  font-weight: normal !important;
}
.normal,
%normal {
  @include normal;
}

@mixin light {
  font-weight: 300 !important;
}
.light,
%light {
  @include light;
}

@mixin italic {
  font-style: italic !important;
}
.italic,
%italic {
  @include italic;
}

@mixin bold {
  font-weight: bold !important;
}
.bold,
%bold {
  @include bold;
}

// Highlight
.highlight,
%highlight {
  background-color: $background-color-highlight;
}
@mixin highlight {
  @extend %highlight;
}

// Round
@mixin round {
  border-radius: 50%;
}
.round,
%round {
  @include round;
}

// WhiteSpace
@mixin nowrap {
  td {
    white-space: nowrap;
  }
}
.nowrap,
%nowrap {
  @include nowrap;
}

// Forms
@mixin req {
  display: inline;
  color: transparent;
  &:after {
    content: '*';
    font-size: 1.1em;
    font-weight: bold;
    color: $color-error;
    text-transform: none;
  }
}
.req,
%req {
  @include req;
}


// Close

.close,
%close {
  @include close(#000);
  @include close-size(28px);
  &.inverted {
    color: #fff;
  }
  &.small {
    @include close-size(20px);
  }
  &.big {
    @include close-size(36px);
  }
}


// Fullwidth
@mixin fullwidth {
  @media (min-width: $breakpoint-small) {
    @include flex-item-auto;
  }
}


.fullwidth,
%fullwidth {
  @include fullwidth;
  ul {
    @include flex;
  }
  li {
    @include flex-item-auto;
    text-align: center;
    em,
    a {
      display: block;
    }
  }
}


// Width
@mixin width-100 {
  width: 100%;
}
.width-100,
%width-100 {
  @include width-100;
}

@mixin width-50 {
  width: 50%;
}
.width-50,
%width-50 {
  @include width-50;
  @media (max-width: $breakpoint-small) {
    .width-50 {
      width: 100% !important;
    }
  }
}


// Fixed
@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-over-content;
  width: 100%;
}
.fixed,
%fixed {
  @include fixed;
}

// NoScroll
@mixin no-sroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
}
.no-scroll,
%no-scroll {
  @include no-sroll;
}

// Overlay
@mixin overlay {
  position: fixed;
  z-index: $z-over-control;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-background-color;
}
.overlay,
%overlay {
  @include overlay;
}

// ScrollbarMeasure
@mixin scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.scrollbar-measure,
%scrollbar-measure {
  @include scrollbar-measure;
}

// IconSearch
@mixin search-icon {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 18px;
  width: 16px;
  line-height: 1;
  font-style: normal;
  color: #000;
  position: relative;
  top: -1px;
  font-weight: bold;
  @include transform(rotate(-45deg));
  &:before {
  content: "\26B2";
  }
  &.inverted {
  color: #fff;
  }
}
.search-icon,
%search-icon {
  @include search-icon;
  button & {
    top: 0;
    &:hover {
      opacity: .6;
    }
  }
}

// IconMenu
@mixin menu-icon {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 15px;
  width: 16px;
  line-height: 1;
  font-style: normal;
  color: #000;
  font-weight: normal;
  &:before {
  content: "\2630";
  }
  &.inverted {
  color: #fff;
  }
}
.menu-icon,
%menu-icon {
  @include menu-icon;
  button:hover & {
    opacity: .6;
  }
}

// Caret
.caret,
%caret {
  position: relative;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
  margin-left: 2px;
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  &.down:before {
    border-top: 4px solid #000;
  }
  &.up:before {
    border-bottom: 4px solid #000;
  }
  &.down.inverted:before {
    border-top-color: #fff;
  }
  &.up.inverted:before {
    border-bottom-color: #fff;
  }
  .button:hover & {
    opacity: .6;
  }
  .dropdown & {
    margin-left: $beta;
    margin-right: $alpha;
  }
  .up & {
    margin-left: $beta;
    margin-right: $alpha;
  }
}

// Offcanvas
.offcanvas,
%offcanvas {
  background: #fff;
  position: fixed;
  padding: $base-line;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $z-over-page;
  overflow-y: scroll;
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &-left {
    border-right: 1px solid rgba(0, 0, 0, .1);
  }
  &-right {
    left: auto;
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
  &-push-body {
    position: relative;
  }
}

// Background colors
@mixin background-color($name, $color) {
  .color-background--#{$name} {
    background-color: $color;
  }
}
@each $name, $color in (primary-light, $color-primary-light),
                       (primary,  $color-primary),
                       (primary-dark, $color-primary-dark),
                       (secondary-red, $color-secondary-red),
                       (secondary-orange, $color-secondary-orange),
                       (secondary-yellow, $color-secondary-yellow),
                       (secondary-blue-light, $color-secondary-bue-light),
                       (secondary-blue, $color-secondary-blue),
                       (secondary-blue-dark, $color-secondary-blue-dark),
                       (secondary-green, $color-secondary-green),
                       (gray-lightest, $color-gray-lightest),
                       (gray-lighter, $color-gray-lighter),
                       (gray-light, $color-gray-light),
                       ('gray', $color-gray),
                       (gray-dark, $color-gray-dark),
                       (gray-darker, $color-gray-darker),
                       (default, $color-default),
                       (success, $color-success),
                       (error, $color-error),
                       (warning, $color-warning) {
  .color-background--#{$name},
  %color-background--#{$name} {
    background-color: $color;
  }
  .color-text--#{$name},
  %color-text--#{$name} {
    color: $color;
  }
}
