// Layout
.group,
%group {
  @include group;
}

.end,
%end {
  @include end;
}

.centered,
%centered {
  @include centered;
}


// Float
.float-right,
%float-right {
  @include float-right;
}

.float-left,
%float-left {
  @include float-left;
}

.pull-right,
%pull-right {
  @include pull-right;
}


// Alignment
.text-right,
%text-right {
  @include text-right;
}

.text-center,
%text-center,
.text-centered,
%text-centered {
  @include text-center;
}


// display
.hide,
%hide {
  @include hide;
}

.hide-on-small,
%hide-on-small {
  @include hide-on-small;
}

.show-on-small,
%show-on-small {
  @include show-on-small;
}

// Print
.hide-on-print,
%hide-on-print {
  @include hide-on-print;
}

.show-on-print,
%show-on-print {
  @include show-on-print;
}


// Visibility
.invisible,
%invisible {
  @include invisible;
}

.visible,
%visible {
  @include visible;
}


// TextColor
.muted,
%muted {
  @include muted;
}

.soft-muted,
%soft-muted {
  @include soft-muted;
}

@mixin error {
  color: $color-error;
}
.error,
%error {
  @include error;
}

@mixin success {
  color: $color-success;
}
.success,
%success {
  @include success;
}


// TextStyle
.upper,
%upper {
  @include upper;
}

.normal,
%normal {
  @include normal;
}

.light,
%light {
  @include light;
}

.italic,
%italic {
  @include italic;
}

.bold,
%bold {
  @include bold;
}


// Highlight
.highlight,
%highlight {
  @include highlight($background-color-highlight);
}


// Round
.round,
%round {
  @include round;
}


// WhiteSpace
.nowrap,
%nowrap {
  @include nowrap;
}


// Forms
.req,
%req {
  @include req;
}


// Close
.close,
%close {
  @include close(#000);
  @include close-size(28px);
  &.inverted {
    color: #fff;
  }
  &.small {
    @include close-size(20px);
  }
  &.big {
    @include close-size(36px);
  }
}


// Fullwidth
.fullwidth,
%fullwidth {
  @include fullwidth;
  ul {
    @include flex;
  }
  li {
    @include flex-item-auto;
    text-align: center;
    em,
    a {
      display: block;
    }
  }
}

.width-100,
%width-100 {
  @include width-100;
}

.width-50,
%width-50 {
  @include width-50;
  @media (max-width: $breakpoint-small) {
    .width-50 {
      width: 100% !important;
    }
  }
}


// Fixed
.fixed,
%fixed {
  @include fixed;
}


// NoScroll
.no-scroll,
%no-scroll {
  @include no-sroll;
}


// Overlay
@mixin overlay {
  position: fixed;
  z-index: $z-over-control;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: $overlay-background-opacity;
  background-image: linear-gradient($overlay-background-color);
}
.overlay,
%overlay {
  @include overlay;
}


// ScrollbarMeasure
.scrollbar-measure,
%scrollbar-measure {
  @include scrollbar-measure;
}


// IconSearch
.search-icon,
%search-icon {
  @include search-icon;
  button & {
    top: 0;
    &:hover {
      opacity: .6;
    }
  }
}

// IconMenu
.menu-icon,
%menu-icon {
  @include menu-icon;
  button:hover & {
    opacity: .6;
  }
}

// Caret
.caret,
%caret {
  position: relative;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
  margin-left: $beta;
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    border-left: $alpha solid transparent;
    border-right: $alpha solid transparent;
  }
  &.down:before {
    border-top: $alpha solid #000;
  }
  &.up:before {
    border-bottom: $alpha solid #000;
  }
  &.down.inverted:before {
    border-top-color: #fff;
  }
  &.up.inverted:before {
    border-bottom-color: #fff;
  }
  .button:hover & {
    opacity: .6;
  }
  &.down {
    margin-left: $beta;
    margin-right: $alpha;
  }
  &.up {
    margin-left: $beta;
    margin-right: $alpha;
  }
  .navbar & {
    display: inline-block;
  }
}


// Offcanvas
.offcanvas,
%offcanvas {
  background: #fff;
  position: fixed;
  padding: $ui-line-height-md;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $z-over-page;
  overflow-y: scroll;
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &-left {
    border-right: 1px solid rgba(0, 0, 0, .1);
  }
  &-right {
    left: auto;
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, .1);
  }
  &-push-body {
    position: relative;
  }
}


//
.vertical-align-cente,
%vertical-align-cente {
  @include vertical-align-center;
}


// Background colors
@each $name, $color in (primary-light, $color-primary-light),
                       (primary,  $color-primary),
                       (primary-dark, $color-primary-dark),
                       (secondary-red-light, $color-secondary-red),
                       (secondary-red, $color-secondary-red),
                       (secondary-red-dark, $color-secondary-red),
                       (secondary-orange, $color-secondary-orange),
                       (secondary-yellow-light, $color-secondary-yellow),
                       (secondary-yellow, $color-secondary-yellow),
                       (secondary-yellow-dark, $color-secondary-yellow),
                       (secondary-blue-light, $color-secondary-bue-light),
                       (secondary-blue, $color-secondary-blue),
                       (secondary-blue-dark, $color-secondary-blue-dark),
                       (secondary-green-light, $color-secondary-green),
                       (secondary-green, $color-secondary-green),
                       (secondary-green-dark, $color-secondary-green),
                       (gray-lightest, $color-gray-lightest),
                       (gray-lighter, $color-gray-lighter),
                       (gray-light, $color-gray-light),
                       ('gray', $color-gray),
                       (gray-dark, $color-gray-dark),
                       (gray-darker, $color-gray-darker),
                       (default, $color-default),
                       (success, $color-success),
                       (error, $color-error),
                       (warning, $color-warning) {
  .color-background--#{$name},
  %color-background--#{$name} {
    background-color: $color;
  }
  .color-text--#{$name},
  %color-text--#{$name} {
    color: $color;
  }
}

//
.full-width {
  @include full-width;
}
.full-height {
  @include full-height
}
.full-size {
  @extend .full-width;
  @extend .full-height;
}
