extends ../../_base

block head
  - var root_path = '../../'
  include ../../_head

block content
  - var root_path = '../../'
  #header
    #header-brand
      a(href='http://cepave.com/') Cepave
  #main
    #hero
      h1 Labels
      p#hero-lead
        |OWL UI lite 的 Labels
      nav#hero-subnav
        ul
          li: a(href=root_path) Download
          li: a(href=root_path+'docs/index.html') Documentation

    .row
      .col.col-3
        nav.nav-contents
          ul
            li: a(href='index.html#h-labels') Labels
            li: a(href='index.html#h-labels-outline') Outline
            li: a(href='index.html#h-tags') Tags
            li: a(href='index.html#h-badges') Badges
            li: a(href='index.html#h-badges-outline') Badges Outline
      .col.col-9
        #owl-ui-lite-component
          // Labels
          h3#h-labels.demo-head Labels
          p.demo-label
            span.label
              a(href='index.html#') Default
            span.label.primary
              a(href='index.html#') Primary
            span.label.error Error
            span.label.success Success
            span.label.warning Warning
            span.demo-label-inverted
              span.label.inverted Inverted
          .window
            //- .icons: span
            //- .title label--base.pug
            pre.language-jade
              code.
                span.label
                  a(href='index.html#') Default
                span.label.primary
                  a(href='index.html#') Primary
                span.label.error Error
                span.label.success Success
                span.label.warning Warning
                span.demo-label-inverted
                  span.label.inverted Inverted

          // Outline
          h3#h-labels-outline.demo-head Outline
          p.demo-label
            span.label.outline
              a(href='index.html#') Default
            span.label.primary.outline
              a(href='index.html#') Primary
            span.label.error.outline Error
            span.label.success.outline Success
            span.label.warning.outline Warning
            span.demo-label-inverted
              span.label.inverted.outline Inverted
          .window
            //- .icons: span
            //- .title label--outline.pug
            pre.language-jade
              code.
                span.label.outline
                  a(href='index.html#') Default
                span.label.primary.outline
                  a(href='index.html#') Primary
                span.label.error.outline Error
                span.label.success.outline Success
                span.label.warning.outline Warning
                span.demo-label-inverted
                  span.label.inverted.outline Inverted

          // Tags
          h3#h-tags.demo-head Tags
          p.demo-label
            span.label.tag
              a(href='index.html#') Default
            span.label.tag.primary
              a(href='index.html#') Primary
            span.label.tag.error Error
            span.label.tag.success Success
            span.label.tag.warning Warning
            span.demo-label-inverted
              span.label.tag.inverted Inverted
          .window
            //- .icons: span
            //- .title tag.pug
            pre.language-jade
              code.
                span.label.tag
                  a(href='index.html#') Default
                span.label.tag.primary
                  a(href='index.html#') Primary
                span.label.tag.error Error
                span.label.tag.success Success
                span.label.tag.warning Warning
                span.demo-label-inverted
                  span.label.tag.inverted Inverted

          // Badges
          h3#h-badges.demo-head Badges
          p.demo-label
            span.label.badge
              a(href='index.html#') 1
            span.label.badge.primary
              a(href='index.html#') 2
            span.label.badge.error 3
            span.label.badge.success 4
            span.label.badge.warning 5
            span.demo-label-inverted
              span.label.badge.inverted 6
          .window
            //- .icons: span
            //- .title badge--base.pug
            pre.language-jade
              code.
                span.label.badge
                  a(href='index.html#') 1
                span.label.badge.primary
                  a(href='index.html#') 2
                span.label.badge.error 3
                span.label.badge.success 4
                span.label.badge.warning 5
                span.demo-label-inverted
                  span.label.badge.inverted 6

          // Badges Outline
          h3#h-badges-outline.demo-head Badges Outline
          p.demo-label
            span.label.badge.outline
              a(href='index.html#') 1
            span.label.badge.primary.outline
              a(href='index.html#') 2
            span.label.badge.error.outline 3
            span.label.badge.success.outline 4
            span.label.badge.warning.outline 5
            span.demo-label-inverted
              span.label.badge.inverted.outline 6
          .window
            //- .icons: span
            //- .title badge--outline.pug
            pre.language-jade
              code.
                span.label.badge.outline
                  a(href='index.html#') 1
                span.label.badge.primary.outline
                  a(href='index.html#') 2
                span.label.badge.error.outline 3
                span.label.badge.success.outline 4
                span.label.badge.warning.outline 5
                span.demo-label-inverted
                  span.label.badge.inverted.outline 6

          // Custom
          h3#h-custom.demo-head Custom
          p
            | 我們可以使用
            a(href='../base/mixins.html') mixins
            | 來自定義的取用 Label 與 Badges
          p.demo-label
            span.label.custom Label
            span.label.badge.custom 1
            span.label.tag.custom Tag
          .window
            //- .icons: span
            //- .title label_and_badge--custom.pug
            pre.language-jade
              code.
                <!-- mixin -->
                @include label($textColor, $backColor);

                <!-- scss -->
                .label.custom {
                  @include label(#fff, #d572ac);
                }

                <!-- jade -->
                span.label.custom Label
                span.label.badge.custom 1
                span.label.tag.custom Tag
          h3.demo-head Buttons with badges
          p
            button.button.primary
              | Counter&nbsp;
              span.label.badge.inverted 3
            button.button
              | Counter&nbsp;
              span.label.badge.outline 3
          h3.demo-head Label within text
          p
            | LLorem Ipsum，也称乱数假文或者哑元文本， &nbsp;
            span.label.success Success
            |  是印刷及排版领域所常用的虚拟文字。由于曾经一台匿名的打印机刻意打乱了一盒印刷字体从而造出一本字体样品书，Lorem Ipsum从西元15世纪起就被作为此领域的标准文本使用。&nbsp;
            span.label.badge.primary
              a(href='index.html#') 2
            |  它不仅延续了五个世纪，还通过了电子排版的挑战，其雏形却依然保存至今。在1960年代，”Leatraset”公司发布了印刷着Lorem Ipsum段落的纸张，从而广泛普及了它的使用。最近，计算机桌面出版软件”Aldus PageMaker”也通过同样的方式使Lorem Ipsum落入大众的视野。
          h3.demo-head Headings with labels
          h1
            | 標題1&nbsp;
            span.label.primary 我是 label
          h2
            | 標題2&nbsp;
            span.label.primary 我是 label
          h3
            | 標題3&nbsp;
            span.label.primary 我是 label
          h4
            | 標題4&nbsp;
            span.label.primary 我是 label
          h5
            | 標題5&nbsp;
            span.label.primary 我是 label
          h6
            | 標題6&nbsp;
            span.label.primary 我是 label

  include ../../_footer

block script
  - var root_path = '../../'
  include ../../_script
